parameters:
	ignoreErrors:
		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: app/Support/QueryCache.php

		-
			message: '#^Constant CURLOPT_REDIR_PROTOCOLS_STR not found\.$#'
			identifier: constant.notFound
			count: 2
			path: app/Controllers/LibriController.php

		-
			message: '#^Offset ''traduttore'' on array.*in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php

		-
			message: '#^Offset ''illustratore'' on array.*in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php

		-
			message: '#^Property ApiBookScraperPlugin::\$hookManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: storage/plugins/api-book-scraper/ApiBookScraperPlugin.php

		-
			message: '#^Strict comparison using === between .+ will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: storage/plugins/api-book-scraper/ApiBookScraperPlugin.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 3
			path: storage/plugins/api-book-scraper/views/settings.php

		-
			message: '#^Property DeweyEditorPlugin::\$hookManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: storage/plugins/dewey-editor/DeweyEditorPlugin.php

		-
			message: '#^Call to preg_quote\(\) is missing delimiter / to be effective\.$#'
			identifier: argument.invalidPregQuote
			count: 1
			path: storage/plugins/dewey-editor/DeweyEditorPlugin.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: storage/plugins/dewey-editor/classes/DeweyValidator.php

		-
			message: '#^Variable \$csrfToken might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: storage/plugins/dewey-editor/views/editor.php

		-
			message: '#^Property App\\Plugins\\OpenLibrary\\OpenLibraryPlugin::\$hookManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Offset ''title'' on non-empty-array on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Strict comparison using === between .+ will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Strict comparison using !== between .+ will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Anonymous function has an unused use \$app\.$#'
			identifier: closure.unusedUse
			count: 1
			path: storage/plugins/open-library/OpenLibraryPlugin.php

		-
			message: '#^Property Z39Server\\SRUServer::\$pluginId is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: storage/plugins/z39-server/classes/SRUServer.php

		-
			message: '#^PHPDoc tag @param references unknown parameter: \$maximumTerms$#'
			identifier: parameter.notFound
			count: 1
			path: storage/plugins/z39-server/classes/SRUServer.php

		-
			message: '#^Call to an undefined method DOMNode::getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: storage/plugins/z39-server/classes/SruClient.php

		-
			message: '#^Strict comparison using === between .+ will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: storage/plugins/z39-server/endpoint.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: storage/plugins/z39-server/endpoint.php
